#click{
  display: none;
}
.nav-ul{
  display: flex;
}

#click:checked~section .nav-ul{
  display: block;
}



@media screen and (max-width:750px) {
  .nav-ul{
    display: none;
    
    position: absolute;
    top: 75px;
    background-color: rgba(220, 220, 220, 0.894);
    width: 100%;
    left: 0;
    
  }
  .nav-ul ul{
    flex-direction: column;
    padding: 10px;
  }
}